.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        イチロースズキ
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-proup
          = link_to "#" do
            = icon('fas', 'cog') 
        %li.side-header__box__menu__edit
          = link_to "#" do
            = icon('fas', 'edit') 
        
  .groups
    = link_to "#", class:"group" do
      %p.group__name
        aaaaa
      %p.group__message
        メッセージなし




